.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.836);
  max-width: 400px;
  margin: 0 auto;
}

.display {
  width: 90%;
  height: 6rem;
  margin-top: 5px;
  border-radius: 6px;
}

.last-row-container {
  display: flex;
  justify-content: center;
}

.btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 0;
  margin: 5px;
}

.large {
  height: 9rem;
  width: 5rem;
  border-radius: 5px;
  margin: 5px;
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.highlight {
  background-color: rgba(79, 79, 255, 0.849);
}
